<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="AI Prompt Evaluator"
           Manufacturer="OpenAI"
           Version="1.0.0"
           UpgradeCode="8a4a4b54-9106-49c5-8594-8dc438f0b4ff"
           Language="1033"
           Codepage="1252"
           InstallerVersion="500">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate CabinetTemplate="AiPromptEvaluator{0}.cab" CompressionLevel="high" />

    <Feature Id="MainFeature" Title="Main Application" Level="1">
      <ComponentGroupRef Id="MainApplicationComponents" />
      <ComponentGroupRef Id="ProgramMenuComponents" />
    </Feature>

    <ui:WixUI Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="AI Prompt Evaluator" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="AI Prompt Evaluator" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainApplicationComponents">
      <Component Directory="INSTALLFOLDER" Id="MainExecutableComponent" Guid="0a64c3fd-ab2f-4a26-8dcb-ca2422849e39" Bitness="always64">
        <File Id="AiPromptEvaluatorExe" Source="..\AiPromptEvaluator\bin\Release\net8.0-windows\AiPromptEvaluator.exe" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER" Id="MainDllComponent" Guid="c35f2424-1504-4f8e-8c18-9f77c337776d" Bitness="always64">
        <File Id="AiPromptEvaluatorDll" Source="..\AiPromptEvaluator\bin\Release\net8.0-windows\AiPromptEvaluator.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER" Id="DepsComponent" Guid="b3268da2-4c1f-40bc-8b28-cf0d7d8cba42" Bitness="always64">
        <File Id="AiPromptEvaluatorDepsJson" Source="..\AiPromptEvaluator\bin\Release\net8.0-windows\AiPromptEvaluator.deps.json" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER" Id="RuntimeConfigComponent" Guid="59d4bd5a-8c97-4297-9f3c-9c7f8bfafc92" Bitness="always64">
        <File Id="AiPromptEvaluatorRuntimeConfig" Source="..\AiPromptEvaluator\bin\Release\net8.0-windows\AiPromptEvaluator.runtimeconfig.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProgramMenuComponents">
      <Component Directory="ApplicationProgramsFolder" Id="ProgramMenuShortcutComponent" Guid="c28d82e1-6bc9-4f90-a4f4-c7c048a83670">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="AI Prompt Evaluator"
                  Target="[INSTALLFOLDER]AiPromptEvaluator.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\AI Prompt Evaluator" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
